<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Happened</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-info mt-5" role="alert">
                    <h4 class="alert-heading">{{ m1 }}</h4>
                    <p>{{ m2 }}</p>
                </div>
                <div class="mt-3">
                    <p><a href="{{m3}}" class="text-dark">{{ m4 }}</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
