<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
            {% if 's' == name[-1] %}
                {{ name }}' Dashboard
            {% else %}
                {{ name }}'s Dashboard
            {% endif %}
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{name}}/my_books">My Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{name}}/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{name}}/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <form action="/user/{{name}}/books" method="GET" class="mb-4">
                    <div class="input-group mb-2">
                        <input type="text" name="search_text" class="form-control" placeholder="Search for an EBook..." value="{{ txt }}">
                        <div class="input-group-append">
                            <button type="submit" class="form-control btn btn-primary">Search</button>
                        </div>    
                    </div>
                    <div class="input-group mb-3 ml-1">
                        <label for="filter_type" class="mr-5">Search based on:</label>
                        <label for="title" class="mr-2">Title</label>
                        {% if search_type == "title" or search_type is none %}
                            <input type="radio" name="search_type" class="mr-4" id="title" value="title" checked>
                        {% else %}
                            <input type="radio" name="search_type" class="mr-4" id="title" value="title">
                        {% endif %}
                        
                        <label for="author" class="mr-2">Author</label>
                        {% if search_type == "author" %}
                            <input type="radio" name="search_type" class="mr-4" id="author" value="author" checked>
                        {% else %}
                            <input type="radio" name="search_type" class="mr-4" id="author" value="author">
                        {% endif %}
                        
                        <label for="section" class="mr-2">Section</label>           
                        {% if search_type == "section" %} 
                            <input type="radio" name="search_type" class="mr-4" id="section" value="section"  checked>
                        {% else %}
                            <input type="radio" name="search_type" class="mr-4" id="section" value="section">
                        {% endif %}
                    </div>              
                </form>
            </div>
        </div>

        <div class="row">
            {% if books|length == 0 %}
                <h2 class="offset-md-1">No Books exist</h2>
            {% else %}
                {% for book in books %}
                    <div class="col-md-9 mb-4 offset-md-1">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">Section: {{ book.section }}</p>
                                <p class="card-text">Author: {{ book.author }}</p>
                                {% if book.title in reqs %}
                                    <button class="btn btn-info mr-2">Requested</button>
                                    <a href="/user/{{ name }}/books/{{ book.title }}/req" class="btn btn-danger ml-2">Undo</a>
                                {% else %}
                                    <a href="/user/{{ name }}/books/{{ book.title }}/req" class="btn btn-success mr-2">Request</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</body>
</html>
